html, body, div, h1, h4, h5, ul, li, a {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style-type: none;
}

.game {
  width: 100%;
  position: relative;
}

.game h1, .game h4, .game ul {
  width: 90%;
  margin: 50px auto;
  padding: 15px;
  font-family: 'Bungee Shade', cursive;
  font-size: 100px;
  color: #4c4b4b;
  text-align: center;
  background-color: #f5f5f1;
  border: 1px solid #edede7;
  border-radius: 3px;
}

.modal-box {
  display: flex;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 335px;
  z-index: 1;
}

.restart {
  position: absolute;
  top: 568px;
  z-index: 1;
}

.modal h2 {
  margin: 0.83em;
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  color: #4c4b4b;
  text-align: center;
}

.modal ul {
  margin: 0.83em;
}

.modal li, .modal button {
  font-family: sans-serif;
  font-size: 16px;
  color: #4c4b4b;
}

.modal li:first-of-type {
  margin-bottom: 6px;
}

.modal li:last-of-type {
  margin-top: 6px;
}

.modal div {
  margin: 0.83em;
  text-align: center;
}

.modal button {
  width: 100px;
  padding: 6px;
  background-color: #f5f5f1;
  border: 1px solid #edede7;
  border-radius: 3px;
}

.modal button:hover {
  cursor: pointer;
  background-color: #e1e3df;
  transition: background-color 0.3s;
}

.hidden {
  display: none;
}

canvas {
  display: block;
  margin: 75px auto;
}

canvas:hover {
  cursor: pointer;
}

.game h4, .game ul {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  border: none;
}

.game h4 {
  margin-top: 50px;
  padding: 15px 15px 0 15px;;
  border-top: 1px solid #edede7;
  border-left: 1px solid #edede7;
  border-right: 1px solid #edede7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.game ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 15px;
  font-size: 14px;
  color: #777;
  border-bottom: 1px solid #edede7;
  border-left: 1px solid #edede7;
  border-right: 1px solid #edede7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.game ul li:first-child {
  margin-top: 3.75px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-right: 1px solid #777;
}

.game ul li:last-child {
  margin-top: 3.75px;
  margin-bottom: 15px;
  padding-left: 15px;
}
